
.content{
	display: flex;
}

.main-chart-container{
	text-align: center;
}

.data-config-bar, .main-chart-container, .chart-config-bar {
	padding : 10px;
	flex : 1;
}

.json-window{
	box-shadow: inset 0px 0px 4px -1px rgba(68,68,68,1);
	padding: 10px 5px;
	margin: 10px;
	background-color: #D7CCC8;
}
