
.content{
	display: flex;
}

.main-chart-container{
	text-align: center;
}

.title-bar{
	text-align: center;
}

.primary-container{
	flex : 2;
	display: flex;
}

.data-config-bar, .main-chart-container, .chart-config-bar {
	padding : 10px;
	flex : 1;
}

.instructions {
	color: #666;
	margin-top: 20px;
}

@media (max-width: 800px) {
	.content{
		flex-flow: column;
	}
}

@media (max-width: 400px) {
	.content{
		flex-flow: column;
	}
	.primary-container{
		flex-flow: column-reverse;
	}
}

.json-window{
	box-shadow: inset 0px 0px 4px -1px rgba(68,68,68,1);
	padding: 10px 5px;
	margin: 10px;
	font-family: monospace;
	background-color: #D7CCC8;
}
